<!DOCTYPE html>
<html>
  <head>
    <title>Credits </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>O autor deste site foi</h1>
    <p><%= autor %></p>
  </body>
</html>
