<form method="GET" action="/quices">
<input type="text" name="search" >
<input type="submit" value="Pesquisar">
</form>

<br>
<br>

<table>
<% var i; for (i=0; i<quices.length;i++) { %>
	<tr><td><a href="/quices/<%= quices[i].id %>"><%= quices[i].pergunta %></a></td></tr>
<% } %>
</table>
