<p>Añadir pregunta: </p>

<br>
<form method="POST" action="/quices/create">
<label for="perg" class="rem">Pergunta:</label>
<input type="text" id="perg" name="quiz[pergunta]"></input><br><br>
<label for="resp" class="rem">Resposta:</label>
<input type="text" id="resp" name="quiz[resposta]"></input><br>
<br>
<a href='/quices'><button>Cancelar</button></a>
<input type="submit" value="Aceptar">
</form>
